.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.box {
  border: 2px solid blue;
}

#country {
  width: 30% !important;
}
#weather {
  width: 25% !important;
}
#currency {
  width: auto !important;
}

@media screen and (max-width: 575px) {
  .container-flex {
    flex-direction: vertical;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box {
    border: 2px solid red;
  }
}

@media screen and (min-width: 576px) and (max-width: 756px) {
  /* .container-flex {
    flex-direction: vertical;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  .box {
    border: 2px solid green !important;
  }
  /* #country {
    width: 50% !important;
  }
  #weather {
    width: 40% !important;
  }
  #currency {
    width: 100% !important;
  } */
}
