.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* default card sizes */
.box {
  border: 1px solid blue;
}

#country {
  width: 30%;
}
#weather {
  width: 30%;
}
#currency {
  width: auto;
}

@media screen and (max-width: 575px) {
  .container-flex {
    flex-direction: vertical;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box {
    border: 1px solid red;
    margin-bottom: 0.5em;
  }
  #country {
    width: 100%;
  }
  #weather {
    width: 100%;
  }
  #currency {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 802px) {
  .box {
    border: 1px solid green;
    margin-bottom: 0.5em;
  }
  #country {
    width: 50%;
  }
  #weather {
    width: 50%;
  }
  #currency {
    width: 100%;
  }
}
